{% extends 'adminLayout.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block slider %}{% endblock %}
{% block newsletter %}{% endblock newsletter %}

{% block body %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> Tous les produits</h1>
          <p><a href="{{ path('produit_new') }}"><i class="fa fa-plus">Ajout produit</i></a></p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body" style="overflow: auto;">
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Description</th>
                    <th>Date Pub</th>
                    <th>Catégorie</th>
                    <th>Vendeur</th>
                    <th>Photo</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for produit in produits %}
                    <tr>
                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.Prix }}</td>
                        <td>{{ produit.description }}</td>
                        <td>{{ produit.datePublication|date('d-m-Y') }}</td>
                        <td>{{ produit.categorie.libelle }}</td>
                        <td>{{ produit.vendeur.nom ~ ' ' ~ produit.vendeur.prenoms }}</td>
                        <td><img src="{{ asset(chemin ~ 'upload/images/' ~ produit.photo) }}" style="width: 50px;height: 50px;"></td>
                        <td>
                            <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                            <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                        </td>
                    </tr>
                  {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset(chemin ~ 'adminTemplate/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset(chemin ~ 'adminTemplate/js/plugins/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock %}