<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{% block title %}Welcome!{% endblock %}</title>

	{% set chemin = '' %}
    {#% set chemin = 'public/' %#}
    
    {% block stylesheets %}
	    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{{asset(chemin ~ 'template/bootstrap4.4.1/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset(chemin ~ 'template/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{asset(chemin ~ 'template/css/main.css')}}">
		<link rel="stylesheet" href="{{asset(chemin ~ 'template/css_new/style.css')}}">
		<link rel="stylesheet" href="{{asset(chemin ~ 'template/css_new/responsive.css')}}">
		<link rel="stylesheet" href="{{asset(chemin ~ 'template/css_new/loader.css')}}">
		<link rel="stylesheet" href="{{asset(chemin ~ 'template/css_new/loader-1.css')}}">
	{% endblock %}
	</head>
	<body>
		<section id="menu" class="">
			<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent!important;">
			    <a class="navbar-brand" href="{{ path('index') }}" style=""><img src="{{ asset(chemin ~ 'template/pi_32.png') }}" style="width: 30px;height: 30px;"></a>

			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			    </button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="{{ path('index') }}">Shop <span class="sr-only">(current)</span></a>
				      </li>
				      {% if not app.user %}
    					  <li class="nav-item">
					        <a class="nav-link" data-toggle="modal" data-target="#compteModal" onclick="reinitialisation();">Faire annonce</a>
					      </li>
					  {% endif %}
				      <li class="nav-item">
				        <a class="nav-link" href="{{ path('index') }}#contact">Contact</a>
				      </li>
				      
				      {% if app.user %}
    					  <li class="nav-item">
					        <a class="nav-link" href="{{ path('produit_index') }}">Dashboard</a>
					      </li>
					  {% endif %}
				    </ul>
				    {% set search_word = '' %}
				    {% if mot is defined %}
				        {% set search_word = mot %}
				    {% endif %}
				    <form method="POST" class="subscription relative" action="{{ path('word_search') }}">
						<input class="form-control" id="search" type="text" name="mot" placeholder="Recherche" onfocus="this.style.border='none';this.placeholder = ''" onblur="this.placeholder = 'Recherche'" required="" value="{{search_word}}">
						<div style="position: absolute; left: -5000px;">
							<input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
						</div>
						<button class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10"><i class="fa fa-search" style="color: white;"></i></span><span class="lnr lnr-arrow-right"></span></button>
						<div class="info"></div>
					</form>
					{% if app.user %}
    					<a href="{{ path('app_logout') }}">Se déconnecter</a>
					{% else %}
					    <a class="nav-link" data-toggle="modal" data-target="#compteModal" onclick="reinitialisation();">Se connecter</a>
					{% endif %}
				</div>
			</nav>
			<div id="cadre" style="width: 15%;height: 50px;background-color: #512c75;margin-bottom: -50px;position: relative;z-index: 99;box-shadow: 0 0 10px rgba(250, 250, 250, 0.2) inset;border-bottom-right-radius: 10px;">
			</div>
			<!-- <img src="{{ asset('template/first_banner500.png') }}" class="img-fluid" alt="Responsive image" style="width: 100%;margin-top: 20px;"> -->
            {% block screen %}
			<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="width: 100%;">
			    <ol class="carousel-indicators">
			      <li data-target="#carouselExampleCaptions" data-slide-to="0" class=""></li>
			      <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
			      <li data-target="#carouselExampleCaptions" data-slide-to="2" class="active"></li>
			    </ol>
			    <div class="carousel-inner">
			      <div class="carousel-item">
			        <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [800x400]" src="{{ asset(chemin ~ 'template/first_banner500.png') }}" data-holder-rendered="true">
			        <div class="carousel-caption d-none d-md-block">
			          <h5 class="title">Pi-Shop</h5>
			          <p>Plateforme web d'achats de produits avec Pi monnaie</p>
			        </div>
			      </div>
			      <div class="carousel-item">
			        <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide [800x400]" src="{{ asset(chemin ~ 'template/first_banner500.png') }}" data-holder-rendered="true">
			        <div class="carousel-caption d-none d-md-block">
			          <h5 class="title">Comment obtenir la monnaie Pi?</h5>
			          <p>La monnaie Pi s'obtient en minant sur l'application mobile</p>
			        </div>
			      </div>
			      <div class="carousel-item active">
			        <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=555&amp;fg=333&amp;text=Third slide" alt="Third slide [800x400]" src="{{ asset(chemin ~ 'template/first_banner500.png') }}" data-holder-rendered="true">
			        <div class="carousel-caption d-none d-md-block">
			          <h5 class="title">Vendre et acheter avec Pi</h5>
			          <p>Faites vos achats et ventes en toute sécurité</p>
			        </div>
			      </div>
			    </div>
			    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
			      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			      <span class="sr-only">Previous</span>
			    </a>
			    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
			      <span class="carousel-control-next-icon" aria-hidden="true"></span>
			      <span class="sr-only">Next</span>
			    </a>
			</div>
			{% endblock %}
		</section>
        {% block body %}
		<section id="contenu">
			<div class="container">
				<div class="row">
					<div class="col-md-1">
						<h4 style="padding-top: 20px;">Catégorie</h4>
					</div>
					<div class="col-md-11">
						<div class="container">
							<div class="row">
								<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
						            <div class="MultiCarousel-inner">
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Meuble</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Véhicules</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Electronique</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Immobilier</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Nourriture</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Vêtements</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Elevage</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Agriculture</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Multi Item Carousel</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Multi Item Carousel</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Multi Item Carousel</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Multi Item Carousel</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Multi Item Carousel</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Multi Item Carousel</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Multi Item Carousel</p></a>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <a href=""><p class="lead">Multi Item Carousel</p></a>
						                    </div>
						                </div>
						            </div>
						            <button class="btn btn-primary leftLst"><</button>
						            <button class="btn btn-primary rightLst">></button>
						        </div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-6 col-md-3" style="">
								<!-- <img src="{{ asset('template/img/a.jpg') }}" class="img-fluid"> -->
								<div class="card">
								  <div style="width: 100%;height: 150px;overflow: hidden;">
								  	<img class="card-img-top" src="{{ asset('template/images/phone.png') }}" alt="Card image cap">
								  </div>
								  
								  <div class="card-body">
								  	<i class="fa fa-star"></i>
								    <h5 class="card-title">Samsung Galaxy S8 Pro</h5>
								    <p class="card-text">100 Pi</p>
								  </div>
								  <a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="col-6 col-md-3" style="">
								<!-- <img src="{{ asset('template/img/a.jpg') }}" class="img-fluid"> -->
								<div class="card">
								  <div style="width: 100%;height: 150px;overflow: hidden;">
								  	<img class="card-img-top" src="{{ asset('template/images/robe_bleu.png') }}" alt="Card image cap">
								  </div>

								  <div class="card-body">
								  	<i class="fa fa-star"></i>
								    <h5 class="card-title">Robe femme responsable</h5>
								    <p class="card-text">20 Pi</p>
								  </div>
								  <a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="col-6 col-md-3" style="">
								<!-- <img src="{{ asset('template/img/a.jpg') }}" class="img-fluid"> -->
								<div class="card">
								  <div style="width: 100%;height: 150px;overflow: hidden;">
								  	<img class="card-img-top" src="{{ asset('template/img/a.jpg') }}" alt="Card image cap">
								  </div>

								  <div class="card-body">
								  	<i class="fa fa-star"></i>
								    <h5 class="card-title">Château d'eau Lomé</h5>
								    <p class="card-text">950 Pi</p>
								  </div>
								  <a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="col-6 col-md-3" style="">
								<!-- <img src="{{ asset('template/img/a.jpg') }}" class="img-fluid"> -->
								<div class="card">
								  <div style="width: 100%;height: 150px;overflow: hidden;">
								  	<img class="card-img-top" src="{{ asset('template/img/a.jpg') }}" alt="Card image cap">
								  </div>

								  <div class="card-body">
								  	<i class="fa fa-star"></i>
								    <h5 class="card-title">Château d'eau Lomé</h5>
								    <p class="card-text">950 Pi</p>
								  </div>
								  <a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<h5>Comment avoir facilement un téléphone portable sur Pi-Shop</h5>
					</div>
				</div>
			</div>
		</section>
		{% endblock body %}

        {% block newsletter %}
		<section class="subscription-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="section-title text-center">
								<h3>Souscription à notre boîte aux lettres</h3>
								<!-- <span class="text-uppercase">Vous recevrez toutes nos nouveautés</span> -->
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div id="mc_embed_signup">
								<form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01" method="get" class="subscription relative">
									<input class="form-control" type="email" name="EMAIL" placeholder="Votre adresse mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tapez votre adresse mail'" required>
									<div style="position: absolute; left: -5000px;">
										<input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
									</div>
									<button id="btn-subs" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Souscrire</span><span class="lnr lnr-arrow-right"></span></button>
									<div class="info"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
		</section>
		{% endblock newsletter %}

        {% block contact %}
		<section class="footer-widget-area" id="contact">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-6 col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-pushpin"></span>
									<i class="fa fa-address-card fa-3x"></i>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Adresse</h6>
									<p>Adakpamé<br>Lomé-TOGO</p>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-phone"></span>
									<i class="fa fa-phone fa-3x"></i>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">N° de téléphone</h6>
									<div class="contact">
										<a href="tel:1545">(+228) 92 10 4313</a> <br>
										<a href="tel:54512">(+228) 98 32 2186</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-earth"></span>
									<i class="fa fa-envelope fa-3x"></i>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">E-mail</h6>
									<div class="contact">
										<a href="mailto:info@dataarc.com">jesssewovon@gmail.com</a> <br>
										<a href="mailto:support@dataarc.com">www.pi-shop.com</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		{% endblock contact %}
			<!-- End Footer Widget Area -->
			<!-- Start footer Area -->
		{% block footer %}
		<footer>
			<div class="container">
				<div class="footer-content d-flex justify-content-between align-items-center flex-wrap">
					<div class="logo">
						<!-- <img src="img/logo.png" alt=""> -->
						<img src="{{ asset(chemin ~ 'template/pi_32.png') }}" alt="">
					</div>
					<div class="copy-right-text">Copyright &copy; Pi-Shop {{ "now"|date('M-Y') }} <em style="color: #ddd;font-weight: 100;font-size: 16px;">Djédjé SEWOVON </em>  |  Tous droits réservés
					</div>
					<div class="footer-social">
						<a href="#"><i class="fa fa-whatsapp"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</footer>
		{% endblock footer %}
		<!-- <div class="showbox"  id="loader">
		  <div class="loader"> <svg class="circular" viewBox="25 25 50 50">
		    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
		    </svg> </div>
		</div> -->

		<div class="loader-wrapper" id="loader-1" style="position: fixed;top: 0;background-color: rgba(0,0,0,0.7);width: 100%;height: 100%;z-index: 9999;">
			<h3 id="error" style="text-align: center;position: fixed;top: 50px;width: 100%;color: white;display: none;">ERREUR DE CHARGEMENT</h3>
            <div id="loader"></div>
        </div>

        <!--MODALS-->
        <!-- Button trigger modal -->
		<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#compteModal">
		  Launch demo modal
		</button> -->

		<!-- Modal -->
		<div class="modal fade" id="compteModal" tabindex="-1" role="dialog" aria-labelledby="compteModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content" style="border-radius: 10%;border-color: transparent;">
		      <!-- <div class="modal-header">
		        <h5 class="modal-title" id="compteModalLabel">Se connecter</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div> -->
		      <div class="modal-body">
				<nav class="nav nav-tabs">
				  <a class="nav-item nav-link active" href="#p1" data-toggle="tab">Se connecter</a>
				  <a class="nav-item nav-link" href="#p2" data-toggle="tab">S'inscrire</a>
				</nav>
				<div class="tab-content">
				  <div class="tab-pane active" id="p1">
				  	  <section id="login">
					    <div class="row justify-content-center">
					        <div class="col-md-12">
					            <form id="login_form" method="post" action="{{ path('app_login') }}" class="subscription relative form_login" style="">

					            	<div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
					                
					                <label for="inputUsername">Nom d'utilisateur</label>
					                <input type="text" value="" name="username" id="inputUsername" class="form-control" required autofocus placeholder="Entrez votre nom d'utilisateur">
					                <label for="inputPassword">Mot de passe</label>
					                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Entrez votre mot de passe">

					                <input type="hidden" name="_csrf_token"
					                       value="{{ csrf_token('authenticate') }}"
					                >
					                <button class="primary-btn hover" type="submit">
					                    <span class="mr-10">Se connecter</span><span class="lnr lnr-arrow-right"></span>
					                </button>
					                <a href="#javascript;" style="font-size: 12px;text-decoration: underline;color: black;float: right;" id="oublie"><em>Mot de passe oublié?</em></a>
					                <!-- <button class="primary-btn hover"><span class="mr-10">Souscrire</span><span class="lnr lnr-arrow-right"></span></button> -->
					            </form>
					            <form id="form_reinit" method="post" action="{{ path('app_logout') }}" class="subscription relative form_login" style="margin-top: 30px;display: none;">
					            	<hr>
					            	<h5 style="text-align: center;">Réinitialisation</h5>
                                	<label for="inputPassword">E-mail</label>
				                    <input type="text" value="" name="evfmail" id="reinit_mail" class="form-control" required autofocus placeholder="Votre mail de réinitialisation">
				                    <button class="primary-btn hover" type="submit">
					                    <span class="mr-10">Réinitialiser</span><span class="lnr lnr-arrow-right"></span>
					                </button>
                                </form>
					        </div>
					    </div>
					  </section>
				  </div>
				  <div class="tab-pane" id="p2">
				  	  <section id="login">
					    <div class="row justify-content-center">
					        <div class="col-md-12">
                                <form id="register_form" method="post" action="{{ path('app_register') }}" class="subscription relative" style="">

					            	<div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
					            	<div class="row">
					            		<div class="col-md-4">
					            			<label for="inputUsername">Nom</label>
					                        <input type="text" value="" name="nom" id="inputUsername" class="form-control" required autofocus placeholder="Entrez votre nom d'utilisateur">
					            		</div>
					            		<div class="col-md-8">
					            			<label for="inputUsername">Prénom(s)</label>
					                        <input type="text" value="" name="prenom" id="inputUsername" class="form-control" required autofocus placeholder="Entrez votre nom d'utilisateur">
					            		</div>
					            	</div>
					            	<div class="row">
					            		<div class="col-md-6">
					            			<label for="inputUsername">Téléphone</label>
					                        <input type="text" value="" name="telephone" id="inputUsername" class="form-control" required autofocus placeholder="Entrez votre nom d'utilisateur">
					            		</div>
					            		<div class="col-md-6">
					            			<label for="inputUsername">E-mail</label>
					                        <input type="text" value="" name="register_mail" id="inputUsername" class="form-control" required autofocus placeholder="Entrez votre nom d'utilisateur">
					            		</div>
					            	</div>
					            	<div class="row">
					            		<div class="col-md-12">
					            			<label for="inputPassword">Nom d'utilisateur</label>
					                        <input type="text" name="register_username" id="inputPassword" class="form-control" required placeholder="Entrez votre mot de passe">
					            		</div>
					            	</div>
					            	<div class="row">
					            		<div class="col-md-12">
					            			<label for="inputPassword">Adresse</label>
					                        <textarea name="adresse"></textarea>
					            		</div>
					            	</div>
					            	<div class="row">
					            		<div class="col-md-6">
					            			<label for="inputPassword">Mot de passe</label>
					                        <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Entrez votre mot de passe">
					            		</div>
					            		<div class="col-md-6">
					            			<label for="inputPassword">Conf Mot de passe</label>
					                        <input type="password" name="conf" id="inputPassword" class="form-control" required placeholder="Entrez votre mot de passe">
					            		</div>
					            	</div>
					                					                
					                <button class="primary-btn hover" type="submit">
					                    <span class="mr-10">S'inscrire</span><span class="lnr lnr-arrow-right"></span>
					                </button>
					                <!-- <button class="primary-btn hover"><span class="mr-10">Souscrire</span><span class="lnr lnr-arrow-right"></span></button> -->
					            </form>
							</div>
					    </div>
					</section>
				  </div>
				</div>
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div> -->
		    </div>
		  </div>
		</div>
        <!--END MODALS-->

        {% block scripts %}
		<script src="{{asset(chemin ~ 'template/jquery-3.1.1.min.js')}}"></script>

        <script src="{{asset(chemin ~ 'template/popper.min.js')}}"></script>

        <script src="{{asset(chemin ~ 'template/bootstrap4.4.1/js/bootstrap.min.js')}}"></script>
        <script src="{{asset(chemin ~ 'template/js_new/script.js')}}"></script>
        <script type="text/javascript">
    	    // document.getElementById('loader').style.display = 'none';
    	    document.getElementById('loader-1').style.display = 'none';
    	    ///////////////////////////////////////////////
        	$(document).ready(function () {
			    var itemsMainDiv = ('.MultiCarousel');
			    var itemsDiv = ('.MultiCarousel-inner');
			    var itemWidth = "";

			    $('.leftLst, .rightLst').click(function () {
			        var condition = $(this).hasClass("leftLst");
			        if (condition)
			            click(0, this);
			        else
			            click(1, this)
			    });

			    ResCarouselSize();




			    $(window).resize(function () {
			        ResCarouselSize();
			    });

			    //this function define the size of the items
			    function ResCarouselSize() {
			        var incno = 0;
			        var dataItems = ("data-items");
			        var itemClass = ('.item');
			        var id = 0;
			        var btnParentSb = '';
			        var itemsSplit = '';
			        var sampwidth = $(itemsMainDiv).width();
			        var bodyWidth = $('body').width();
			        $(itemsDiv).each(function () {
			            id = id + 1;
			            var itemNumbers = $(this).find(itemClass).length;
			            btnParentSb = $(this).parent().attr(dataItems);
			            itemsSplit = btnParentSb.split(',');
			            $(this).parent().attr("id", "MultiCarousel" + id);


			            if (bodyWidth >= 1200) {
			                incno = itemsSplit[3];
			                itemWidth = sampwidth / incno;
			            }
			            else if (bodyWidth >= 992) {
			                incno = itemsSplit[2];
			                itemWidth = sampwidth / incno;
			            }
			            else if (bodyWidth >= 768) {
			                incno = itemsSplit[1];
			                itemWidth = sampwidth / incno;
			            }
			            else {
			                incno = itemsSplit[0];
			                itemWidth = sampwidth / incno;
			            }
			            itemWidth -= 30;
			            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
			            $(this).find(itemClass).each(function () {
			                $(this).outerWidth(itemWidth);
			            });

			            $(".leftLst").addClass("over");
			            $(".rightLst").removeClass("over");

			        });
			    }


			    //this function used to move the items
			    function ResCarousel(e, el, s) {
			        var leftBtn = ('.leftLst');
			        var rightBtn = ('.rightLst');
			        var translateXval = '';
			        var divStyle = $(el + ' ' + itemsDiv).css('transform');
			        var values = divStyle.match(/-?[\d\.]+/g);
			        var xds = Math.abs(values[4]);
			        if (e == 0) {
			            translateXval = parseInt(xds) - parseInt(itemWidth * s);
			            $(el + ' ' + rightBtn).removeClass("over");

			            if (translateXval <= itemWidth / 2) {
			                translateXval = 0;
			                $(el + ' ' + leftBtn).addClass("over");
			            }
			        }
			        else if (e == 1) {
			            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
			            translateXval = parseInt(xds) + parseInt(itemWidth * s);
			            $(el + ' ' + leftBtn).removeClass("over");

			            if (translateXval >= itemsCondition - itemWidth / 2) {
			                translateXval = itemsCondition;
			                $(el + ' ' + rightBtn).addClass("over");
			            }
			        }
			        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
			    }

			    //It is used to get some elements from btn
			    function click(ell, ee) {
			        var Parent = "#" + $(ee).parent().attr("id");
			        var slide = $(Parent).attr("data-slide");
			        ResCarousel(ell, Parent, slide);
			    }

			    $('#oublie').click(function(e){
			    	e.preventDefault();
			    	if (document.getElementById('form_reinit').style.display == 'none') {
			    		document.getElementById('form_reinit').style.display = 'block';
			    	}else{
			    		document.getElementById('form_reinit').style.display = 'none';
			    	}
			    });
			});
			
			var login_form = $('#login_form');
		    login_form.submit(function(e) {
		    	$('#message').css('display', 'none');
		    	$('.loader-wrapper').css('display','block');
		        // prevent form submission
		        e.preventDefault();

		        // submit the form via Ajax
		        $.ajax({
		            url: login_form.attr('action'),
		            type: login_form.attr('method'),
		            dataType: 'html',
		            data: login_form.serialize(),
		            success: function(result) {
		            	result = JSON.parse(result);
		                if (result == 'success') {
		                	location.href = "{{ path('produit_index') }}";
		                }
		                else if(result.error){
                            $('#message').css('display', 'block');
                            $('#message').html("Identifiants incorrect(s)");
		                }
		                $('.loader-wrapper').css('display','none');
		            },
		            error: function(){
		            	$('.loader-wrapper').css('display','none');
		            }
		        });
		    });

		    var register_form = $('#register_form');
		    register_form.submit(function(e) {
		    	// $('#message').css('display', 'none');
		    	$('.loader-wrapper').css('display','block');
		        // prevent form submission
		        e.preventDefault();

		        // submit the form via Ajax
		        $.ajax({
		            url: register_form.attr('action'),
		            type: register_form.attr('method'),
		            dataType: 'html',
		            data: register_form.serialize(),
		            success: function(result) {
		            	result = JSON.parse(result);
		            	if (result == 'success') {
		                	location.href = "{{ path('produit_index') }}";
		                }
		            	$('.loader-wrapper').css('display','none');
		            },
		            error: function(){
		            	$('.loader-wrapper').css('display','none');
		            }
		        });
		    });

		    function reinitialisation(){
		    	document.getElementById('form_reinit').style.display = 'none';
		    	document.getElementById('message').style.display = 'none';
		    	document.getElementById("login_form").reset();
		    	document.getElementById("register_form").reset();
		    	document.getElementById("form_reinit").reset();
		    	document.getElementById("reinit_mail").value = '';
		    }
        </script>
        <script type="text/javascript">
        	// alert(window.screen.width);
        	largeur_ecran = window.screen.width;
        	nb_slider_ajout = 2;
        	if (largeur_ecran > 768) {
        		nb_slider_ajout = 4;
        	}
        	$('#recipeCarousel').carousel({
			  interval :3000
			})

			$('#carousel .carousel .carousel-item').each(function(){
			    var next = $(this).next();
			    if (!next.length) {
			        next = $(this).siblings(':first');
			    }
			    next.children(':first-child').clone().appendTo($(this));
			    
			    for (var i=0;i<nb_slider_ajout;i++) {
			        next=next.next();
			        if (!next.length) {
			        	next = $(this).siblings(':first');
			      	}
			        
			        next.children(':first-child').clone().appendTo($(this));
			      }
			});

        </script>
        {% endblock scripts %}
	</body>
</html>
